@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
section{
    padding: 100px;
}
.banner{
    position: relative;
    min-height: 180vh;
    background-image: url(img/banner.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.banner h2{
    font-size: 3em;
    color: #fff;
    line-height: 1.5em;
}
.banner h2 span{
    font-size: 1.5em;
    font-weight: 700;
}
.banner h3{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
    
}
.btn{
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition:  0.5s;
}
header.sticky{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header .logo{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
header.sticky .logo{
    color: #111;
}
header ul{
    position: relative;
    display: flex;
    color: #fff;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    display: inline-block;
    text-decoration: none;
    margin: 1.5em;
    color: #fff;
}
header.sticky ul li a{
    color: #111;
}
.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}
.heading h2{
    font-weight: 600;
    font-size: 30px;
}
.content{
    display: flex;
    justify-content: space-between;
}
.contentbx{
    padding-right: 30px;
}
.contentbx h3{
    font-size: 24px;
    margin-bottom: 15px;

}
.w50{
    min-width: 50%;
}
img{
    max-width: 100%;
}
.services{
    background: #111;

}
.heading.white{
    color: #fff;
}
.services .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    cursor: pointer;
}
.services .content .servicesbx{
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 340px;
    text-align: center;
    transition: 0.5s;
}
.services .content .servicesbx:hover{
    background: #2196f3;
}
.services .content .servicesbx img{
    max-width: 80px;
    filter: invert(1);
}
.services .content .servicesbx h2{
    font-size: 20px;
    font-weight: 600;
}
.work .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.work .content .workbx{
    width: 50%;
    padding: 20px;
}
.work .content .workbx img{
    max-width: 100%;
}
.testimonial{
    background: #f7f7f7;

}
.testimonial .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.testimonial .content .testimonialbx{
    max-width: calc(50% - 40px);
    padding: 60px 40px;
    margin: 20px;
    background-color: #2196f3;
}
.testimonial .content .testimonialbx p{
    color: #fff;
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
}
.testimonial .content .testimonialbx h3{
    text-align: end;
    margin-top: 45px;
    color: #fff;
    line-height: 1em;
    font-weight: 600;
    font-size: 20px;
}
.testimonial .content .testimonialbx h3 span{
    font-size: 14px;
    font-weight: 400;
}
.contact{
    background-color: #111 ;
}
.frombx{
    min-width: 60%;
}
.frombx form{
    display: flex;
    flex-direction: column;
}
.frombx form h3,
.contactInfo h3{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.frombx form input,
.frombx form  textarea{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    background: transparent;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
    resize: none;
}
.frombx form  textarea{
    min-height: 200px;
}
.frombx form input::placeholder
.frombx form  textarea::placeholder{
    color: #999;
}
.frombx form button{
    max-width: 100px;
    background: #2196f3;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
    padding: 10px;
}
.contactInfo{
    min-width: 40%;
 
}
.contactInfobx{
    position: relative;
}
.contactInfobx .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contactInfobx .box .icon{
    min-height: 40px;
    padding-top: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.contactInfobx .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.contactInfobx .box .text h3{
    font-weight: 500;
    color: #2196f3;
    margin-bottom: 0;
}
.copyright{
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}


/* RESPONSIVE */
@media (max-width: 991px){
    header,
    header.sticky {
       padding: 10px 50px;
       z-index: 1000;
    }
    .menu{
        position: fixed;
        top: 48px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.5s;
        z-index: 999  ;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
    .menu.active{
        left: 0;
    }
    header ul li a{
        color: #ff0303;
        font-size: 24px;
        margin: 20px;
    }
    .toggle{
        width: 40px;
        height: 40px;
        background-image: url(toggle/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }
    .toggle.active{
        background-image: url(toggle/close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }
    header.sticky .toggle{
        filter: invert(1);
    }
    section {
        padding: 100px 50px;
    }
    .banner{
        padding: 150px 50px 100px;
    }
    .banner h2{
        font-size: 1.5em;
    }
    .banner h3{
        font-size: 1em ;
    }
    .btn{
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
    }
    .heading h2{
        font-size: 24px;
    }
    .contentbx h3{
        font-size: 20px;
    }
    .content{
        flex-direction: column;
    }
    .w50{
       
        margin-bottom: 20px;
    }
    .services .content .servicesbx{
        margin: 10px;
    }
    .work .content .workbx{
        width: 100%;
        padding: 10px;
    }   
    .testimonial .content .testimonialbx {
        max-width: calc(100% - 20px);
        padding: 40px 20px;
        margin: 10px;
        background-color: #2196f3;
    }
    .contactInfo{
        margin: 20px 0;
    }
}
@media (max-width: 600px){
    header,
    header.sticky {
       padding: 10px 20px;
      
    }
    .banner{
        padding: 150px 20px 100px;
    }
    section{
        padding: 100px 20px;
    }
}

/* SELAMAT ANDA SUDAH SELESAI */